.app-header {
    // background: #03a9f4;
    // position: fixed;
    width: 100%;
    top: 0px;
    background: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: rgb(255 255 255) 0px -1px 0px 1px;
    border-style: solid;
    border-width: 0;
    border-bottom: 1px solid rgba(9,30,66,.13);
    .header-title{
        font-size: 26px;
        color: blue;
        font-family: segoe-ui-bold;
     
    }
    section.container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            // @include quotes
            flex-grow: 1;
        }
        .back-container {
            flex-grow: 1;
        }
        nav {
            a:not(:last-child) {
                margin-right: 20px;
            }

            // a:is(.active, .my-active) {
            //     color: red;
            // }
            .logout-btn{
                cursor: pointer;
            }
            
            
        }
    }
}
