.contacts-filter {
    
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    margin-block: 20px;
    justify-content: space-between;

    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }
}